include includes/header-top.pug

<title>Nordlid | Sådan hjalp vi Falck med at indtage Danmark</title>

<meta property="og:title" content="Nordlid | Falck Go To Market strategi">
<meta property="og:url" content="case-falckbussen.html">

<meta name="twitter:title" content="Nordlid | Falck Go To Market strategi">

include includes/header-bottom.pug
<main class="falck-wrapper">
    <section class="full-title-section-case">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 full-title-section-height bg-falck text-center d-flex align-items-center justify-content-center">
                    <!-- <img src="assets/img/falck/falck-logo.png" alt="falck logo png" class="falck-logo"> -->
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark-blue p-lg-5 py-5 falck-hjalp">
        <div class="container-fluid py-lg-4 pl-lg-5">
            <div class="row">
                <div class="col-xl-8 d-flex align-items-center">
                    <div>
                        <h1 class="display-4">Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
                        <h3 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, obcaecati alias aliquam nisi fugit earum saepe praesentium non omnis veritatis.</p>
                    </div>

                </div>
                <!-- <div class="col-lg-5 d-flex justify-content-center align-items-center">
                    <img src="assets/img/falck/falck-logo.png" alt="falck logo" class="img-fluid falck-logo p-3">
                </div> -->
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 bg-black p-0 d-flex align-items-center justify-content-center">
                    <img src="assets/img/falck/Grafiktilkasse1.jpg" alt="falck grafik gif" class="img-fluid w-100">
                </div>
                <div class="col-lg-6 bg-white  p-lg-4 py-5 d-flex align-items-center text-secondary">
                    <div class="p-lg-4">
                        <h1 class="display-">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>
                        <p class=" ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum numquam voluptates blanditiis sunt aspernatur aperiam dolor mollitia consectetur voluptate, nihil corrupti, distinctio esse assumenda.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" controls poster="assets/img/falck/poster-video.JPG">
                            <source src="assets/img/falck/Falck_Bus_event.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                             
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 bg-light-blue  p-lg-4 py-5 d-flex align-items-center text-white">
                    <div class="p-lg-4">
                        <h1 class="display-">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h1>
                        <p class=" ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum numquam voluptates blanditiis sunt aspernatur aperiam dolor mollitia consectetur voluptate, nihil corrupti, distinctio esse assumenda.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-black p-0 d-flex align-items-center justify-content-center">
                    <img src="assets/img/falck/Grafiktilkasse2.jpg" alt="falck grafik gif" class="img-fluid w-100">
                </div>
            </div>
        </div>
    </section>
    
</main>

include includes/footer.pug

include js/js.pug

include js/donut-chart-js.pug

</body>

</html>