include includes/header-top.pug

<title>Nordlid | Lotto - Næstekærligheden sejrede sammen med Lotto</title>

<meta property="og:title" content="Nordlid | Lotto - Næstekærligheden sejrede sammen med Lotto">
<meta property="og:url" content="case-lotto.html">

<meta name="twitter:title" content="Nordlid | Lotto - Næstekærligheden sejrede sammen med Lotto">

include includes/header-bottom.pug


<main>
    <!-- HALF TITLE SECTION -->
    <section class="full-title-section-case">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 full-title-section-height lotto-hero  d-flex align-items-center justify-content-center">
                    <img src="assets/img/lotto/lotto_app_logo_v2.png" alt="Danske spil logo" class="ds-logo">
                </div>
            </div>
        </div>
    </section>

    <!-- Baggrund -->
    <section class="bg-dark-blue p-lg-5 py-5">
        <div class="container-fluid py-lg-4 pl-lg-5">
            <div class="row">
                <div class="col-xl-8 d-flex align-items-center">
                    <div>
                        <h1 class="display-4">Lotto trængte til fornyelse</h1>
                        <h3 class="mt-4">Hvordan bliver Lotto igen vores alles lotteri? </h3>
                        <p class="sub-text">Lotto har været hele Danmarks spil i snart 30 år. Lotto har traditionelt tiltrukket spillere ved at tale om store puljer og den store gevinst, der sende vinderen til en eksotisk strand. Men det var ikke mere nok. Nye spil med gigantiske præmiepuljer trækker opmærksomhed og spil. Og online spilplatforme tiltrækker de yngre spillere. Så hvordan kunne Lotto forny sig?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Hvem vil du glæde?  -->
    <section class="bg-black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0 ">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D_4VJ7duEvg"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SIX BOX VIDEOS -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0  order-2 order-lg-1 bg-black d-flex align-items-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cOswsO76uOY"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 bg-white text-secondary d-flex align-items-center p-lg-4 py-5 order-1 order-lg-2">
                    <div class="p-xl-4">
                        <h1 class="">”Hvem ville du glæde,<br class="d-none d-md-block"> hvis du vandt?”</h1>
                        <p class=" sub-text">Udgangspunktet for det nye koncept var disse: Videnskabelige studier viser, at glæden ved at give er større end glæden ved at få. Og en analyse blandt Lotto-vindere viser, at de fleste har brugt gevinsten til glæde andre. Det harmonerer også smukt med, at Danske Spil hvert år giver mere end 1 mia. af overskuddet tilbage til samfundet via udlodningsmidlerne.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-dark-blue d-flex align-items-center py-5 p-lg-4 text-white">
                    <div class="p-xl-4">
                        <h1 class="">Den ægte historie <br class="d-none d-md-block"> om at glæde andre</h1>
                        <p class=" sub-text">Fra september og ind i januar 2017 blev konceptet rullet ud på tværs af både tv (med 3 forskellige film i forskellige længder), på facebook, via events/happenings, display bannere, forhandler-materialer, Direct Mail og CRM-aktiviteter (e-mails og 2 længerevarende involverende digitale konkurrence-aktiviteter).</p>
                    </div>
                </div>
                <div class="col-lg-6 p-0 bg-black d-flex align-items-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LGf6hJbieyQ"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 bg-light-blue text-white d-flex align-items-end justify-content-center py-5">
                    <div class="">

                        <div class="d-flex justify-content-center flex-wrap align-items-end">
                            <div class="text-center d-flex flex-column justify-content-center mx-5 mx-md-4 py-4 py-lg-0">
                                <p class=""><i class="fas fa-user-plus fa-4x pl-4"></i></p>
                                <h5>Nyt kendskab</h5>
                            </div>
                            <div class="text-center d-flex flex-column justify-content-center mx-5 mx-md-4 py-4 py-lg-0">
                                <p class=""><i class="fas fa-thumbs-up fa-4x"></i></p>
                                <h5>Større liking</h5>
                            </div>
                            <div class="text-center d-flex flex-column justify-content-center mx-5 mx-md-4 py-4 py-lg-0">
                                <p class=""><i class="fas fa-chart-line fa-4x"></i></p>
                                <h5>Øget køb</h5>
                            </div>
                            <div class="text-center px-4 pt-4">
                                <!-- <h2>Konceptet skabte resultater på bare 3 måneder på tværs af alle mediekanaler</h2> -->
                                <h2 class="mb-5">Konceptet blev eksekveret på tværs af alle platforme og skabte gode resultater på bare 3 måneder</h2>
                                <!-- <p>3 måneder med det nye koncept på alle platforme har opbygget</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 bg-blue text-white d-flex align-items-end justify-content-center py-5">
                    <div class="">
                        <div class="box-piesite">
                            <div class="piesite test-pie mx-auto my-4 text-white" id="pie_0" data-pie="20"></div>
                            <h2 class="mb-5">I slutningen af kampagneperioden er Lotto-salget højere end på en normal Lotto-lørdag</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid ">
            <div class="row">
                <a  href="case-togtesten.html" class="col-lg-3 col-6 bg-blue p-md-5 order-2 order-lg-1 hover-left">
                    <div class="d-flex flex-column justify-content-center align-items-center p-5 text-white text-center">
                        <h1>Forrige case</h1>
                        <i class="fas fa-arrow-left fa-5x text-white"></i>
                        <!-- <img class="logo-size" src="assets/img/dsb/DSB-Logo.png" alt="dsb logo" > -->
                    </div>
                </a>
                <div class="col-lg-6 bg-dark-blue d-flex order-1 order-lg-2 justify-content-center no-after align-items-center">
                    <div class="text-center py-5">
                        <h1 class="text-white">Hør mere om denne case</h1>
                        <h4 class="mb-0 text-white">Andreas Hansen</h4>
                        <a href="tel:+4528113941" class="text-white"><i class="fas fa-phone pr-3"></i>+45 28 11 39 41</a> <br>
                        <a href="mailto:welcome@nordlid.com" class="text-white"><i class="fas fa-envelope pr-3"></i>aha@nordlid.com</a>
                    </div>
                </div>
                <!-- <a class="col-lg-3 nyhedsbrev-bg d-sm-none d-md-block p-5">
                    <div class="d-flex flex-row justify-content-center align-items-center  text-center p-5">
                        <h1 class="text-white" >Tilmeld til nyhedsbrev</h1>
                    </div>
                </a> -->
                <a href="case-danske-spil.html" class="col-lg-3 col-6 bg-light-blue p-md-5 order-3 order-lg-3 hover-right">
                    <div class="d-flex flex-column justify-content-center align-items-center  text-white p-5 text-center">
                        <h1>Næste case</h1>
                        <i class="fas fa-arrow-right fa-5x text-white "></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
    

</main>

include includes/footer.pug

include js/js.pug

include js/donut-chart-js.pug

</body>

</html>