include includes/header-top.pug

<title>Nordlid | Danske Spil</title>

<meta property="og:title" content="Nordlid | Danske Spil">
<meta property="og:url" content="case-danske-spil.html">

<meta name="twitter:title" content="Nordlid | Danske Spil">

include includes/header-bottom.pug

<main class="danske-spil-wrapper">
    <!-- Section Hero -->
    <section class="full-title-section-case">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 full-title-section-height bg-danske-spil text-center d-flex align-items-center justify-content-center">
                    <img src="assets/img/danske-spil/mdsa_app_logo.png" alt="danske spil logo png">
                </div>
            </div>
        </div>
    </section>

    <!-- Opgave -->
    <section class="bg-white text-secondary p-lg-5 py-5">
        <div class="container-fluid py-lg-4 pl-lg-5">
            <div class="row">
                <div class="col-xl-8 d-flex align-items-center">
                    <div>
                        <h1 class="display-4">Fra vision til virkelighed</h1>
                        <h3 class="mt-4">Danske Spil er godt på vej mod at have <br class="d-none d-md-block">gennemført en digital transformation </h3>
                        <p class="">Danske Spil har siden 2015 arbejdet ud fra en ambitiøs 2020-strategi, der handler om at levere den bedste kundeoplevelse gennem relevant og indsigtsdrevet kommunikation, hvor end de møder kunderne. Nordlid har været med på hele rejsen mod en digital transformation i Danske Spil som strategisk rådgiver. Både i forhold til brug af data & (marketing)teknologi, organisation og ressourcer og i udarbejdelse af en kontaktstrategi for kundekommunikation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Danske spil DDA video -->
    <section class="bg-green">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" controls poster="assets/img/danske-spil/video-poster.JPG">
                            <source src="assets/img/danske-spil/2019_DDA_Film_01.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                             
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row align-items-stretch">
                <div class="col-lg-6 p-0 bg-dark-blue order-1 order-lg-1 d-none d-lg-block ">
                    <img src="assets/img/danske-spil/Customer_Data_Platform.jpg" alt="" class="img-fluid object-fit-cover">
                </div>
                <div class="col-lg-6 bg-dark-blue  p-lg-4 d-flex align-items-center py-5 order-2 order-lg-2">
                    <div class="p-lg-4">
                        <h1 class="">Et helt nyt digitalt økosystem</h1>
                        <p class="mt-4">Målet er, at Danske Spil kan aktivere data i digitale medieindkøb og skabe integreret personaliseret kommunikation på tværs af platforme og medier. Og at Danske Spil får fuldt ejerskab over egne data og teknologier.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-white p-lg-4 d-flex align-items-center py-5 text-secondary order-4 order-lg-3">
                    <div class="p-lg-4">
                        <h1 class="">Integrationer <br class="d-none d-lg-block"> og ny IT-arkitektur </h1>
                        <p class="mt-4">Systemet omfatter bl.a. en Data Management Platform, en Demand Side Platform (DSP), Danske Spils CRM-system, Ad server, Ad verifikation, Dynamic Creative Optimization og egne medie- og dataaftaler. Danske Spil har  skabt integration mellem marketingautomation-platformen, Eloqua (e-mail, push, sms, etc.) til DMP’en, BlueKai (display, video, SoME, etc.) iog  mellem BlueKai og SiteCore (danskespil.dk, YouBet.dk og apps).</p>
                    </div>
                </div>
                <div class="col-lg-6 p-0 order-3 order-lg-4">
                    <img src="assets/img/danske-spil/IT_Arkitektur.jpg" alt="IT arkitektrue danske-spil Print" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid ">
            <div class="row">
                <a  href="case-lotto.html" class="col-lg-3 col-6 bg-blue p-md-5 order-2 order-lg-1 hover-left">
                    <div class="d-flex flex-column justify-content-center align-items-center p-5 text-white text-center">
                        <h1>Forrige case</h1>
                        <i class="fas fa-arrow-left fa-5x text-white"></i>
                        <!-- <img class="logo-size" src="assets/img/dsb/DSB-Logo.png" alt="dsb logo" > -->
                    </div>
                </a>
                <div class="col-lg-6 bg-dark-blue d-flex order-1 order-lg-2 justify-content-center no-after align-items-center">
                    <div class="text-center py-5">
                        <h1 class="text-white">Hør mere om denne case</h1>
                        <h4 class="mb-0 text-white">Andreas Hansen</h4>
                        <a href="tel:+4528113941" class="text-white"><i class="fas fa-phone pr-3"></i>+45 28 11 39 41</a> <br>
                        <a href="mailto:welcome@nordlid.com" class="text-white"><i class="fas fa-envelope pr-3"></i>aha@nordlid.com</a>
                    </div>
                </div>
                <!-- <a class="col-lg-3 nyhedsbrev-bg d-sm-none d-md-block p-5">
                    <div class="d-flex flex-row justify-content-center align-items-center  text-center p-5">
                        <h1 class="text-white" >Tilmeld til nyhedsbrev</h1>
                    </div>
                </a> -->
                <a href="case-borsen.html" class="col-lg-3 col-6 bg-light-blue p-md-5 order-3 order-lg-3 hover-right">
                    <div class="d-flex flex-column justify-content-center align-items-center  text-white p-5 text-center">
                        <h1>Næste case</h1>
                        <i class="fas fa-arrow-right fa-5x text-white "></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>

include includes/footer.pug

include js/js.pug

include js/donut-chart-js.pug

</body>

</html>