include includes/header-top.pug

<title>Nordlid | DSB – sporarbejde mellem Frederikssund og Valby</title>

<meta property="og:title" content="Nordlid | DSB – sporarbejde mellem Frederikssund og Valby">
<meta property="og:url" content="case-dbs.html">

<meta name="twitter:title" content="Nordlid | DSB – sporarbejde mellem Frederikssund og Valby">

include includes/header-bottom.pug

<main class="dsb-wrapper">
    <section class="full-title-section-case">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 full-title-section-height dsb-hero  d-flex align-items-center justify-content-center">
                    <img src="assets/img/dsb/DSB-Logo.png" alt="dsb logo png" class="case-logo">
                </div>
            </div>
        </div>
    </section>


    <section class="opgave bg-dark-blue p-lg-5 py-5">
        <div class="container-fluid py-lg-4 px-lg-5">
            <div class="row">
                <div class="col-xl-8 d-flex align-items-center">
                    <div>
                        <h1 class="display-4">Vi gav de S-togsrejsende tiden tilbage under langvarigt sporarbejde</h1>
                        <h3 class="mt-4">Togbusser i stedet for S-tog = ekstra rejsetid</h3>
                        <p class="">Banedanmark skulle udføre sporarbejde mellem Frederikssund og Valby, så DSB ikke kunne køre S-tog på hele strækningen. Ca. 63.000 daglige S-togs-rejsende måtte med Togbus i stedet for S-tog. I alle helligdage i foråret 2018 og i næsten 3 måneder fra 1. juni til slut august. Med Togbus tager rejsen væsentlig længere tid - op mod en time ekstra hver vej, hvis man fx skulle fra Frederikssund til Valby.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" controls poster="assets/img/dsb/Topgrafik-DSB-Fa-Tiden-Tilbage.jpg">
                            <source src="assets/video/DSB_FaTidenTilbage_casefilm_kort.m4v" type="video/mp4" />
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                             
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="bg-dark-blue p-lg-5 py-5 ">
        <div class="container-fluid py-lg-4 pl-lg-5">
            <div class="row">
                <div class="col-lg-7 d-flex align-items-center">
                    <!-- <div>
                        <h3>Opgaven fra DSB lød:</h3>
                        <p>70% af de rejsende skulle være informeret om Togbusserne før afrejsen. Og samtidig skulle vi imødekomme den forringede rejseoplevelse uden at give rabat eller økonomisk kompensation.</p>
                    </div> -->
                    <div>
                        <h1 class="display-4">Med nyudviklet app gav vi kunderne ekstra rejsetid i togbus tilbage</h1>
                        <h3 class="mt-4">En hjælpende hånd til hårdt ramte pendlere </h3>
                        <p>Den ekstra rejsetid i Togbus er tid, der går fra pendlernes familie og fritid og svækker loyaliteten til DSB. DSB kan ikke tilbyde rabat eller økonomisk kompensation. Så hvad kunne man gøre for at række hånden ud til de hårdt ramte, loyale pendlere - og få dem til at bruge Togbus og derefter komme tilbage i S-toget? Vi gav dem tiden tilbage via en nyudviklet digital service, en app-løsning, der tilførte kunden en både emotionel og praktisk værdi. Uden det betød, at DSB skulle have penge op af lommen.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="my-5 py-5 p-lg-5">
        <div class="container-fluid pl-lg-5">
            <div class="row">
                <div class="col-4">
                    <img src="assets/img/dsb/1-tiden-tilbage.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-4">
                    <img src="assets/img/dsb/2-tiden-tilbage.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-4">
                    <img src="assets/img/dsb/3-tiden-tilbage.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-8 mt-5 text-secondary">
                    <h1 class="display-4">Brugerne optjente 2.000.000 minutter med appen under sporarbejdet </h1>
                    <h3 class="mt-4">Opsparede minutter kunne bruges til nye rejser med DSB</h3>
                    <p class="mb-0">Via appen registrerer man sine rejser med Togbus fra startstation til slutstation. De ekstra minutter, som den specifikke rejse med Togbus varer, sammenlignet med normal rejsetid med S-toget, bliver sat ind på kundens ’Få Tiden Tilbage’-konto.Da sporarbejdet sluttede, kunne minutterne veksles til nye rejser med DSB ved at bruge en ny version af appen.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- <section class="">
        <div class="container-fluid">
            <div class="row p-lg-5 py-5">
                <div class="col-12 col-lg-6 py-lg-4 pl-lg-5">
                    <h2>Vi gav kunderne tiden tilbage</h2>
                    <h5>Strategi</h5>
                    <p>Den ekstra rejsetid i Togbus er tid, der går fra pendlernes familie og fritid og svækker loyaliteten til DSB. DSB kan ikke tilbyde rabat eller økonomisk kompensation. Så hvad kunne man gøre for at række hånden ud til de hårdt ramte, loyale pendlere - og få dem til at bruge Togbus og derefter komme tilbage i S-toget? Vi gav dem tiden tilbage via en nyudviklet digital service, der tilførte kunden en både emotionel og praktisk værdi. Uden det betød, at DSB skulle have penge op af lommen.</p>
                </div>
            </div>
            <div class="row bg-dark-blue p-lg-5 py-5">
                <div class="col-12 col-lg-6 py-lg-4 pl-lg-5">
                    <h2>Nyudviklet app: ”Få tiden tilbage”</h2>
                    <h5 class="">Løsning</h5>
                    <p>Via appen registrerer man sine rejser med Togbus fra startstationen til slutstation. De ekstra minutter, som den specifikke rejse med Togbus varer – sammenlignet med normal rejsetid med S-toget - bliver indsat på kundens ’Få Tiden Tilbage’-konto.</p>
                    <p>Når sporarbejdet er slut, kan de opsparede minutter veksles til nye togture med DSB. 216 opsparede minutter kunne fx indløses til en togrejse fra Kbh H til Aarhus – som tager præcis 216 minutter. Og normalt koster 388 kr. Minutterne kunne kun bruges til rejser med Regional og Intercity-tog på tidspunkter, hvor DSB i forvejen ikke kører med fyldte tog, dvs. uden for peak-perioder. Og altså ikke til nye rejser med S-tog. Dermed havde de opsparede minutter stor værdi for kunderne, mens DSBs omkostning var lav.</p>
                </div>
            </div>
        </div>
    </section> -->



    <!-- <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 offset-md-2">
                    <div class="d-flex">
                        <h3 class="font-weight-light bg-dark-blue px-4 pb-2 pt-3 mb-4 border-round">Resultater</h3>
                    </div>
                    <ul>
                        <li>
                            <p class="font-weight-bold my-0">Der blev optjent over 2.000.000 minutter af brugerne i perioden</p>
                            <p class="">Høj digital aktivering via det unikke tilbud.</p>
                        </li>
                        <li>
                            <p class="font-weight-bold my-0">Kendskabet til sporarbejdet forud for rejsen var helt oppe på 74 % mod de vanlige 38 %</p>
                            <p class="">Få tiden tilbage’ gav mulighed for at kommunikere mere markant og positivt end ved tidligere sporarbejder.</p>
                        </li>
                        <li>
                            <p class="font-weight-bold my-0">God PR om ny app skaber kendskab til sporarbejde</p>
                            <p class="">Få tiden tilbage’ havde nyhedsværdi, der gav ekstra PR i både lokalmedier og TV2 Lorry.</p>
                        </li>
                        <li>
                            <p class="font-weight-bold my-0">Tilfredsheden med informationen om sporarbejdet var 7,1 mod en vanlig score på 6,3 ved tidligere sporarbejder. </p>
                            <p class="">Pendlerformanden for strækningen skrev uopfordret til DSB, at det var den bedste sporarbejdskampagne, han nogensinde havde set – han takkede på vegne af pendlerne.</p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section> -->

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 bg-blue px-lg-5 text-white order-1">
                    <div class="px-lg-5 py-5">
                        <div class="text-center d-flex justify-content-center align-items-center result-icon-height">
                            <i class="fas fa-clock fa-10x px-0 px-md-4"></i>
                        </div>
                        <div class="mt-5">
                            <h3>App-brugerne opsparede over <br class="d-none d-md-block"> 2.000.000 minutter under sporarbejdet</h3>
                            <!-- <h3>DER BLEV OPTJENT OVER 2.000.000 MINUTTER AF BRUGERNE I PERODEN</h3> -->
                            <p>Det unikke tilbud blev godt modtaget og brugt af passagerne.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 bg-light-blue px-lg-5 text-white order-2">
                    <div class="px-lg-5 py-5">
                        <div class="text-center d-flex justify-content-center align-items-center result-icon-height" >
                            <i class="fas fa-tv fa-10x"></i>
                        </div>
                        <div class="mt-5">
                            <h3>God PR om ny app skaber kendskab til sporarbejde</h3>
                            <p>Få tiden tilbage’ havde nyhedsværdi, der gav ekstra PR I både lokalmedier og TV2 Lorry.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 bg-white px-lg-5 text-secondary order-4">
                    <div class="px-lg-5 py-5">
                        <div class=" text-center d-flex justify-content-center align-items-center result-icon-height">
                            <i class="fas fa-thumbs-up fa-10x"></i>
                        </div>
                        <div class="mt-5">
                            <h3>Tilfredsheden med informationen om sporarbejdet var 7,1 mod en vanlig score på 6,3.</h3>
                            <p>Pendlerformanden for strækningen skrev uopfordret til DSB, at det var den bedste sporarbejdskampagne, han nogensinde havde set – han takkede på vegne af pendlerne.</p>
                        </div>
        
                    </div>
                </div>

                <!-- Donut CHARTS   -->
                <div class="col-lg-6 bg-dark-blue px-lg-5 py-5 order-3">
                    <div class="">
                        <div class="box-piesite">
                            <ul class="d-flex align-items-center flex-wrap justify-content-center flex-column flex-sm-row">
                                <li class="design  d-none d-md-block d-lg-none d-xl-block">
                                    <div class="piesite mx-auto text-light-blue" id="pie_0" data-pie="38"></div>
                                </li>
                                <li class="usability mx-4 d-none d-md-block d-lg-none d-xl-block">
                                        <i class="fas fa-long-arrow-alt-right fa-5x"></i>
                                </li>
                                <li class="creativity">
                                    <div class="piesite mx-auto" id="pie_1" data-pie="74"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-5 px-lg-5">
                            <h3>Kendskabet til sporarbejdet forud for rejsen var helt oppe på 74% mod de vanlige 38%</h3>
                            <p>Få tiden tilbage’ gav mulighed for at kommunikere mere markant og positivt end ved tidligere sporarbejder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid ">
            <div class="row">
                <a  href="case-borsen.html" class="col-lg-3 col-6 bg-blue p-md-5 order-2 order-lg-1 hover-left">
                    <div class="d-flex flex-column justify-content-center align-items-center p-5 text-white text-center">
                        <h1>Forrige case</h1>
                        <i class="fas fa-arrow-left fa-5x text-white"></i>
                        <!-- <img class="logo-size" src="assets/img/dsb/DSB-Logo.png" alt="dsb logo" > -->
                    </div>
                </a>
                <div class="col-lg-6 bg-dark-blue d-flex order-1 order-lg-2 justify-content-center no-after align-items-center">
                    <div class="text-center py-5">
                        <h1 class="text-white">Hør mere om denne case</h1>
                        <h4 class="mb-0 text-white">Andreas Hansen</h4>
                        <a href="tel:+4528113941" class="text-white"><i class="fas fa-phone pr-3"></i>+45 28 11 39 41</a> <br>
                        <a href="mailto:welcome@nordlid.com" class="text-white"><i class="fas fa-envelope pr-3"></i>aha@nordlid.com</a>
                    </div>
                </div>
                <!-- <a class="col-lg-3 nyhedsbrev-bg d-sm-none d-md-block p-5">
                    <div class="d-flex flex-row justify-content-center align-items-center  text-center p-5">
                        <h1 class="text-white" >Tilmeld til nyhedsbrev</h1>
                    </div>
                </a> -->
                <a href="case-fibia.html" class="col-lg-3 col-6 bg-light-blue p-md-5 order-3 order-lg-3 hover-right">
                    <div class="d-flex flex-column justify-content-center align-items-center  text-white p-5 text-center">
                        <h1>Næste case</h1>
                        <i class="fas fa-arrow-right fa-5x text-white "></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>

include includes/footer.pug

include js/js.pug

include js/donut-chart-js.pug

</body>

</html>