include includes/header-top.pug

<title>Nordlid | Ekstra Bladet</title>

<meta property="og:title" content="Nordlid | Ekstra bladet">
<meta property="og:url" content="case-ekstra-bladet.html">

<meta name="twitter:title" content="Nordlid | Ekstra bladet">

include includes/header-bottom.pug

<main class="eb-wrapper">
    <section class="full-title-section-case">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="embed-responsive full-title-section-height bg-white m-0 p-0">
                        <video  class="video-fluid hero-video" nocontrols autoplay muted loop>
                            <source src="assets/img/eb/EB-Topgrafik-Film.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                             
                        </video>
                    </div>
                    <!-- <img src="assets/img/eb/ekstra-bladet-logo.png" alt="ekstra bladet logo png" class="eb-logo"> -->
                </div>
            </div>
        </div>
    </section>

    <section class="bg-blue p-lg-5 py-5 ">
        <div class="container-fluid py-lg-4 pl-lg-5">
            <div class="row">
                <div class="col-xl-8 d-flex align-items-center">
                    <div>
                        <h1 class="display-4">Da Ekstra Bladet+ blev <br class="d-none d-md-block"> for godt til at være gratis</h1>
                        <!-- <h3 class="mt-4">Baggrund</h3> -->
                        <p class="mt-4 ">Ekstra Bladet, der er det største nyhedsmedie i Danmark, havde behov for hjælp. Der var styr på eb.dk med over 900.000 daglige brugere. Men når det kom sig til deres betalte indhold, så var konverteringen ikke tilfredsstillende. Brugerne havde svært ved at afkode betalingsuniverset, der til dato havde haft to niveauer. Nordlid fik til opgave at relancere hele betalingsuniverset, der efter lanceringen skulle bestå af tre produktpakker og et øget prisniveau til de eksisterende brugere.</p>
                    </div>
                </div>
                <!-- <div class="col-lg-5 d-flex justify-content-center align-items-center">
                    <img src="assets/img/fibia/fibia-logo.png" alt="fibia logo" class="img-fluid fibia-logo p-3">
                </div> -->
            </div>
        </div>
    </section>
    <!-- PAY OF ANIMATION -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 bg-black p-0 d-flex align-items-center justify-content-center">
                    <img src="assets/img/eb/EB-Payoff-Animation2.gif" alt="eb grafik gif" class="img-fluid w-100">
                </div>
                <div class="col-lg-6 bg-light-blue  p-lg-4 py-5 d-flex align-items-center text-white">
                    <div class="p-lg-4">
                        <h1 class="display-">En ny Value Proposition <br class="d-none d-lg-block">blev fundamentet</h1>
                        <p class=" ">Vores strategiteam skabte en Value Proposition til Ekstra Bladet+ og ud fra denne udviklede vi det nye pay off: "For godt til at være gratis" og et visuelt kreativt koncept. Her lod vi publikum få en smag af alt det, man går glip af, medmindre man betaler for Ekstra Bladet+.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pl-lg-5">
        <div class="container-fluid p-lg-5 py-5">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="assets/img/eb/EB-Print.jpg" alt="ekstra bladet print graffiker" class="img-fluid">
                </div>
                <div class="col-xl-8 text-secondary pt-4">
                    <h1 class="display-4">Kampagnen blev<br class="d-none d-lg-block"> rullet ud på tværs af medier</h1>
                    <p class="">Formålet med første burst var at forklare, at man med Ekstra Bladet+ får meget mere af alt det vilde, frække, sjove, sensationelle og spændende. Andet burst gik mere over i hardcore salg af de tre abonnementer. Begge burst blev kørt massivt på tværs af Ekstra Bladets egne medier og på Youtube, Facebook, webTV og som biografspots.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0 bg-dark-blue order-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" nocontrols autoplay muted loop>
                            <source src="assets/img/eb/EBSoMe.mp4" type="video/mp4">
                             
                        </video>
                    </div>
                </div>
                <div class="col-lg-6 bg-blue p-lg-4 d-flex order-2 align-items-center py-5 text-white">
                    <div class="px-lg-4">
                        <h1 class="display-">Kampagnen skabte opmærksomhed på SoMe</h1>
                        <p class=" sub-text">Hvad gemmer sig bag +’et? Konceptet åbnede op for et kreativt univers, der skabte opmærksomhed på de sociale medier.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-white d-flex align-items-center order-4 order-md-3 py-5 p-lg-4 text-secondary">
                    <div class="p-lg-4">
                        <h1 class="display-">Ekstra Bladet+ <br class="d-none d-md-block"> blev set i biografen</h1>
                        <p class="sub-text">Vi imødekom målgruppen, når de var klar til sjove, spændende, frække eller makabre historier.</p>
                    </div>
                </div>
                <div class="col-lg-6 p-0 order-3 order-md-4 ">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" controls autoplay muted loop>
                            <source src="assets/img/eb/biospot-godk.mp4" type="video/mp4">
                             
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container-fluid ">
            <div class="row">
                <a  href="case-fibia.html" class="col-lg-3 col-6 bg-blue p-md-5 order-2 order-lg-1 hover-left">
                    <div class="d-flex flex-column justify-content-center align-items-center p-5 text-white text-center">
                        <h1>Forrige case</h1>
                        <i class="fas fa-arrow-left fa-5x text-white"></i>
                        <!-- <img class="logo-size" src="assets/img/dsb/DSB-Logo.png" alt="dsb logo" > -->
                    </div>
                </a>
                <div class="col-lg-6 bg-dark-blue d-flex order-1 order-lg-2 justify-content-center no-after align-items-center">
                    <div class="text-center py-5">
                        <h1 class="text-white">Hør mere om denne case</h1>
                        <h4 class="mb-0 text-white">Andreas Hansen</h4>
                        <a href="tel:+4528113941" class="text-white"><i class="fas fa-phone pr-3"></i>+45 28 11 39 41</a> <br>
                        <a href="mailto:welcome@nordlid.com" class="text-white"><i class="fas fa-envelope pr-3"></i>aha@nordlid.com</a>
                    </div>
                </div>
                <!-- <a class="col-md-3 nyhedsbrev-bg d-sm-none d-md-block p-5">
                    <div class="d-flex flex-row justify-content-center align-items-center  text-center p-5">
                        <h1 class="text-white" >Tilmeld til nyhedsbrev</h1>
                    </div>
                </a> -->
                <a href="case-togtesten.html" class="col-lg-3 col-6 bg-light-blue p-md-5 order-3 order-lg-3 hover-right">
                    <div class="d-flex flex-column justify-content-center align-items-center  text-white p-5 text-center">
                        <h1>Næste case</h1>
                        <i class="fas fa-arrow-right fa-5x text-white "></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
    
</main>

include includes/footer.pug

include js/js.pug

include js/donut-chart-js.pug

</body>

</html>