include includes/header-top.pug

<title>Nordlid | TogTesten Sådan skaffede vi kvalificerede salgsleads</title>

<meta property="og:title" content="Nordlid | TogTesten Sådan skaffede vi kvalificerede salgsleads">
<meta property="og:url" content="case-togtesten.html">

<meta name="twitter:title" content="Nordlid | TogTesten Sådan skaffede vi kvalificerede salgsleads">

include includes/header-bottom.pug

<main class="togtesten-wrapper">
    <section class="full-title-section-case">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 full-title-section-height togtesten-hero text-center d-flex align-items-center justify-content-center">
                    <img src="assets/img/dsb/DSB-Logo.png" alt="dsb logo" class="case-logo">
                </div>
            </div>
        </div>
    </section>

    <section class="opgave bg-dark-blue p-lg-5 py-5">
        <div class="container-fluid py-lg-4 px-lg-5">
            <div class="row">
                <div class="col-xl-8 d-flex align-items-center">
                    <div>
                        <h1 class="display-4">DSB vil få flere virksomheder til at bruge toget til forretningsrejser </h1>
                        <h3 class="mt-4">Der var brug for kvalificerede salgsleads </h3>
                        <p class="sub-text">DSB Erhverv er en lille del af DSB og har ikke i tilstrækkelig grad ressourcerne til at lave det opsøgende salgsarbejde, det kræves for at komme bredt ud i dansk erhvervsliv. DSB ønskede derfor at udvikle en kampagne, der kunne skaffe dem flere kvalificerede leads.</p>
                        <p class="sub-text">DSB Erhverv en billetkøbs- og administrationsportal, der gør det nemmere for den rejseansvarlige eller rejseadministratoren i virksomheden at bestille, holde øje med og få overblik over rejseomkostningerne.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-blue">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-4 bg-blue">
                    <img src="assets/img/togtesten/DSB_TogTesten_DM-brev-og-folder_12.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 bg-blue  p-lg-4 d-flex align-items-center py-5 text-white">
                    <div class="px-lg-4">
                        <h1 class="display-">Vi skabte trafik fra fra offline til online og fik kvalificerede leads</h1>
                        <p class="mt-4 mb-0">Alle rejseansvarlige fik flot æske med invitation til at deltage i en digital TogTest via en personlig url. Ved at deltage får man 2 fribilletter til en valgfri togrejse i Danmark på DSB 1’ – så hun selv kan prøve produktet.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 py-5 p-lg-5">
        <div class="container-fluid pl-lg-5">
            <div class="row">
                <div class="col-4 justify-content-center d-flex align-items-center">
                    <img src="assets/img/togtesten/DSB_iPhone_2.png" alt="" class="img-fluid">
                </div>
                <div class="col-4 justify-content-center d-flex align-items-center">
                    <img src="assets/img/togtesten/DSB_iPhone_3.png" alt="" class="img-fluid">
                </div>
                <div class="col-4 justify-content-center d-flex align-items-center">
                    <img src="assets/img/togtesten/DSB_iPhone_4.png" alt="" class="img-fluid">
                </div>
                <div class="col-xl-8 mt-5 text-secondary">
                    <h1 class="display-4">Den digitale test<br class="d-none d-md-block"> kvalificerer leads til salg</h1>
                    <h3 class="mt-4">Spørgsmål og individuelt feedback</h3>
                    <p class="mb-0">TogTesten indeholdt spørgsmål om virksomhedens rejsevaner og måde at administrere rejserne på – fx ift. udlæg, kørselsregnskaber og billetbestillingsprocedurer. Baseret på svar fik man personligt feedback omkring værdien af togrejser og Erhvervsportalen. DM udsendes løbende i batches startende i november ’18 og gennem første halvår af ’19. Sådan at DSB Erhvervs sælgere kan nå at ringe til leads, der involverer sig digitalt.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-darken-blue py-5">
            <div class="box-piesite  my-4">
                <ul>
                    <li class="design pie-w py-4 py-md-0">
                        <div class="piesite bp-2 mx-auto" id="pie_0" data-pie="17"></div>
                        <h5 class="mt-3">17 % af modtagerne gennemførte TogTesten </h5>
                    </li>
                    <li class="usability pie-w py-4 py-md-0">
                        <div class="piesite bp-2 mx-auto" id="pie_2" data-pie="56"></div>
                        <h5 class="mt-3">56 % af leads konverterede og fik Erhvervsaftale med DSB </h5>
                    </li>
                    <li class="creativity pie-w py-4 py-md-0">
                        <div class="piesite bp-2 mx-auto" id="pie_1" data-pie="4,1"></div>
                        <h5 class="mt-3">Foreløbige resultater viser ROI på 4,1 % i år 1</h5>
                    </li>
                </ul>
            </div>
    </section>

    <section class="">
        <div class="container-fluid ">
            <div class="row">
                <a  href="case-ekstra-bladet.html" class="col-lg-3 col-6 bg-blue p-md-5 order-2 order-lg-1 hover-left">
                    <div class="d-flex flex-column justify-content-center align-items-center p-5 text-white text-center">
                        <h1>Forrige case</h1>
                        <i class="fas fa-arrow-left fa-5x text-white"></i>
                        <!-- <img class="logo-size" src="assets/img/dsb/DSB-Logo.png" alt="dsb logo" > -->
                    </div>
                </a>
                <div class="col-lg-6 bg-dark-blue d-flex order-1 order-lg-2 justify-content-center no-after align-items-center">
                    <div class="text-center py-5">
                        <h1 class="text-white">Hør mere om denne case</h1>
                        <h4 class="mb-0 text-white">Andreas Hansen</h4>
                        <a href="tel:+4528113941" class="text-white"><i class="fas fa-phone pr-3"></i>+45 28 11 39 41</a> <br>
                        <a href="mailto:welcome@nordlid.com" class="text-white"><i class="fas fa-envelope pr-3"></i>aha@nordlid.com</a>
                    </div>
                </div>
                <!-- <a class="col-lg-3 nyhedsbrev-bg d-sm-none d-md-block p-5">
                    <div class="d-flex flex-row justify-content-center align-items-center  text-center p-5">
                        <h1 class="text-white" >Tilmeld til nyhedsbrev</h1>
                    </div>
                </a> -->
                <a href="case-lotto.html" class="col-lg-3 col-6 bg-light-blue p-md-5 order-3 order-lg-3 hover-right">
                    <div class="d-flex flex-column justify-content-center align-items-center  text-white p-5 text-center">
                        <h1>Næste case</h1>
                        <i class="fas fa-arrow-right fa-5x text-white "></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
    
</main>

include includes/footer.pug

include js/js.pug

include js/donut-chart-js.pug

</body>

</html>