include includes/header-top.pug

<title>Nordlid | Sådan hjalp vi Fibia med at indtage Danmark</title>

<meta property="og:title" content="Nordlid | Fibia Go To Market strategi">
<meta property="og:url" content="case-fibia.html">

<meta name="twitter:title" content="Nordlid | Fibia Go To Market strategi">

include includes/header-bottom.pug
<main class="fibia-wrapper">
    <section class="full-title-section-case">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 full-title-section-height bg-fibia text-center d-flex align-items-center justify-content-center">
                    <img src="assets/img/fibia/fibia-logo.png" alt="fibia logo png" class="fibia-logo">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark-blue p-lg-5 py-5 fibia-hjalp">
        <div class="container-fluid py-lg-4 pl-lg-5">
            <div class="row">
                <div class="col-xl-8 d-flex align-items-center">
                    <div>
                        <h1 class="display-4">Go To Market strategi sælger fibernet til nye områder</h1>
                        <h3 class="mt-4">Fibia fremtidssikrer lokale områder med lynhurtigt og stabilt internet via fibernet</h3>
                        <p>Udrulningen på Sjælland, Øerne og Østjylland krævede dog en struktureret Go To Market strategi. Fibia skulle nemlig vide præcist, hvilke områder man skulle prioritere at grave fiber ned i først. Strategien havde derfor 2 faser. Først skulle tilstrækkelig mange borgere i et område vise interesse og forhåndsbestille fibernet. Var interessen tilstrækkelig, kunne det reelle salgsarbejde i et givet område starte inden og mens gravearbejdet pågår.</p>
                    </div>

                </div>
                <!-- <div class="col-lg-5 d-flex justify-content-center align-items-center">
                    <img src="assets/img/fibia/fibia-logo.png" alt="fibia logo" class="img-fluid fibia-logo p-3">
                </div> -->
            </div>
        </div>
    </section>

    <section class="px-lg-5">
        <div class="container-fluid p-lg-5 py-5">
            <div class="row">
                <div class="col-lg-12 text-secondary text-center">
                    <img src="assets/img/fibia/Fibia-Print.jpg" alt="nordlid fibia print annocer" class="img-fluid">
                </div>
                <div class="col-xl-8 text-secondary">
                    <h1 class="pt-4 display-4">En stærk indsigt skabte <br class="d-none d-lg-block"> opmærksomhed om fiber</h1>
                    <p>Folk er trætte af langsomt internet, der hakker eller ikke virker. Det viste vi gennem konceptet ’Sagde ingen nogensinde’. Et humoristisk greb, vi brugte i indtrækker-elementer som fx film på Facebook, lokale biografspots, outdoor og print i lokalaviser, direct mail til udvalgte husstande m.fl. CTA og links på alle elementer førte til en kampagnesite, hvor vi fik hhv. permissions, interessetilkendegivelser og salg af fibernet til kampagnepris.</p>
                </div>
            </div>
        </div>
    </section>

    <section>       
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" controls poster="assets/img/fibia/Topgrafik-Fibia.jpg">
                            <source src="assets/video/fibia/Fibia-Film-1.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                             
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 px-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" nocontrols muted autoplay >
                            <source src="assets/img/fibia/FiberTester-Laptop.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                             
                        </video>
                    </div>
                </div>
                <div class="col-lg-6 p-lg-4 bg-light-blue d-flex align-items-center text-white">
                    <div class="p-xl-4 py-5 py-lg-2 ">
                        <h1>Kampagnesiden var epicenter for bearbejdning af leads</h1>
                        <p class="mb-0">Via et fibertjek på adressen opsamlede vi kundens permission. Og alt efter svaret på Fibertjekket, kunne kunden vise interesse, forhåndsbestille eller købe sin løsning, hvis fibernettet allerede var på vej til adressen.</p>
                    </div>
                    <!-- <img src="assets/img/fibia/Fibia-Print.jpg" alt="" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </section> 
    <section >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-lg-4 bg-white d-flex align-items-center text-secondary order-1 order-lg-1">
                    <div class="p-xl-4 py-5 py-lg-2">
                        <h1 >Automatiseret mailflow fulgte op på alle leads – uanset status</h1>
                        <p class="mb-0">Permissions fra kampagnesiden blev bearbejdet i et omfattende og personaliseret e-mail flow, der greb kunderne præcis dér, hvor de var ift. at kunne få fibernet på adressen, nu eller senere.</p>
                    </div>
                </div>
                <div class="col-lg-6 px-0 order-2 order-lg-2 d-none d-lg-block">
                    <img src="assets/img/fibia/campaign-flow-placeholder.jpg" alt="nordlid fibia campaign flow" class="img-fluid object-fit-cover">
                </div>
            </div>
        </div>
    </section>  

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" controls poster="assets/img/fibia/fibia-video.jpg">
                            <source src="assets/video/fibia/Fibia-Film-2.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                             
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section >
        <div class="container-fluid ">
            <div class="row">
                <a  href="case-dsb.html" class="col-lg-3 col-6 bg-blue p-lg-5 order-2 order-lg-1 hover-left">
                    <div class="d-flex flex-column justify-content-center align-items-center p-5 text-white text-center">
                        <h1>Forrige case</h1>
                        <i class="fas fa-arrow-left fa-5x text-white"></i>
                        <!-- <img class="logo-size" src="assets/img/dsb/DSB-Logo.png" alt="dsb logo" > -->
                    </div>
                </a>
                <div class="col-lg-6 bg-dark-blue d-flex order-1 order-lg-2 justify-content-center no-after align-items-center">
                    <div class="text-center py-5">
                        <h1 class="text-white">Hør mere om denne case</h1>
                        <h4 class="mb-0 text-white">Andreas Hansen</h4>
                        <a href="tel:+4528113941" class="text-white"><i class="fas fa-phone pr-3"></i>+45 28 11 39 41</a> <br>
                        <a href="mailto:welcome@nordlid.com" class="text-white"><i class="fas fa-envelope pr-3"></i>aha@nordlid.com</a>
                    </div>
                </div>
                <!-- <a class="col-lg-3 nyhedsbrev-bg d-sm-none d-md-block p-5">
                    <div class="d-flex flex-row justify-content-center align-items-center  text-center p-5">
                        <h1 class="text-white" >Tilmeld til nyhedsbrev</h1>
                    </div>
                </a> -->
                <a href="case-ekstra-bladet.html" class="col-lg-3 col-6 bg-light-blue p-lg-5 order-3 order-lg-3 hover-right">
                    <div class="d-flex flex-column justify-content-center align-items-center  text-white p-5 text-center">
                        <h1>Næste case</h1>
                        <i class="fas fa-arrow-right fa-5x text-white "></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>

include includes/footer.pug

include js/js.pug

include js/donut-chart-js.pug

</body>

</html>