

include includes/header-top.pug

<title>Nordlid | Børsen</title>

<meta property="og:title" content="Nordlid | Børsen">
<meta property="og:url" content="case-borsen.html">

<meta name="twitter:title" content="Nordlid | Børsen">

include includes/header-bottom.pug
<main class="borsen-wrapper">
    <!-- Section Hero -->
    <section class="full-title-section-case">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 full-title-section-height bg-incase-borsen text-center d-flex align-items-center justify-content-center">
                    <!-- <img src="assets/img/borsen/borsen-logo.svg" alt="" class="bosen-logo"> -->
                    <svg version="1.1" id="Lag_1" xmlns="http://www.w3.org/2000/svg" class="borsen-logo" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="563px" height="83px" viewBox="0 0 563 83" enable-background="new 0 0 563 83" xml:space="preserve">
                        <path d="M166.724,2.361c0,0-47.121,43.469-50.936,46.871c-0.624-2.281-1.167-4.045-1.167-9.261c0-15.022,9.402-20.693,18.443-20.693 c1.371,0,5.466,0.07,9.143,2.12l14.471-16.174c-3.506-1.723-11.007-5.021-23.625-5.021c-26.348,0-45.105,16.263-45.105,39.123                            c0,24.849,15.165,41.848,45.128,41.848c28.036,0,45.132-16.298,45.132-41.677c0-15.474-8.601-24.398-10.242-26.255l11.792-10.881                           H166.724z M132.964,61.983c-5.641,0-10.101-1.905-12.927-4.649c0,0,29.089-26.769,29.706-27.353c0.301,0.649,1.56,3.691,1.56,9.967                           C151.303,46.224,149.351,61.983,132.964,61.983z"/>
                        <path d="M240.287,49.171c10.624-0.122,26.455-3.78,26.455-24.266S246.354,2.51,230.409,2.51H189.63v76.397h26.814V51.992h7.551                            l17.168,26.915h32.054l-20.385-27.52L240.287,49.171z M227.36,36.328h-10.916V18.507h10.916c8.314,0,12.924,2.269,12.924,8.91                            C240.285,33.926,235.981,36.328,227.36,36.328z"/>
                        <path d="M322.885,31.212c-17.128-1.636-20.514-2.608-20.514-6.698c0-3.894,5.249-5.949,14.793-5.949                            c9.543,0,18.173,2.962,20.942,4.942c0.669-0.934,11.293-15.764,11.293-15.764c-8.424-4.606-20.349-7.53-37.133-7.53                            c-14.887,0-37.211,5.222-37.211,26.917c0,21.542,30.5,22.614,35.941,23.314c8.855,1.133,14.799,2.438,14.799,6.72                            c0,2.542-1.669,6.107-14.521,6.107c-12.99,0-21.322-4.914-24.849-7.619c-0.388,0.563-11.499,15.606-11.499,15.606                            c2.286,1.742,13.398,9.924,37.299,9.924c27.477,0,40.279-10.864,40.279-26.484C352.504,38.691,340.79,32.924,322.885,31.212z"/>
                        <polygon points="389.158,62.352 389.17,48.872 424.067,48.872 424.067,32.418 389.17,32.418 389.17,19.085 432.446,19.085 432.446,2.511 362.5,2.511 362.5,78.909 432.739,78.909 432.729,62.352 "/>
                        <rect x="536.121" y="53.834" width="25.063" height="25.075"/>
                        <path d="M500.074,32.322l2.805,20.13c0,0-4.101-8.478-11.832-20.943c-0.223-0.358-18.999-28.999-18.999-28.999h-28.307v76.398                            h24.977V48.52l-2.985-18.656c0,0,1.925,3.597,4.23,7.708c2.201,3.936,4.404,7.215,4.404,7.215l21.939,34.123h28.768V2.511h-25                            V32.322z"/>
                        <path d="M71.641,41.352c-3.394-0.578-11.925-1.902-11.925-1.902l11.199-1.993c3.122-1.559,8.171-6.554,8.171-16.165                            c0-15.423-13.802-18.782-30.738-18.782H1.406v76.396h47.859c20.932,0,32.123-5.86,32.067-21.884                            C81.302,48.229,75.853,43.154,71.641,41.352z M27.81,18.625h15.807c6.307,0,8.448,2.884,8.448,6.046                            c0,3.163-0.506,7.158-8.474,7.158H27.81V18.625z M43.591,62.457H27.81V47.634h15.781c7.581,0,10.577,2.686,10.523,7.184                            C54.059,59.496,51.712,62.457,43.591,62.457z"/>
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <!--  -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 bg-dark-blue p-lg-4 d-flex align-items-center py-5 text-white">
                    <div class="p-lg-4">
                        <h1 >Ny value proposition handler om ansvar og indsigt </h1>
                        <!-- <h3 class="mt-4">Opgave</h3> -->
                        <p >Efter Bjarne Corydon havde overtaget tøjlerne som administrerende direktør og ansvarshavende chefredaktør havde Børsen behov for en ny Value Proposition. En VP, der danner basis for en ny positionering overfor dansk erhvervsliv. Det hjalp Nordlid med. </p>
                    </div>
                </div>
                <div class="col-lg-6  p-0 d-flex align-items-center justify-content-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" nocontrols autoplay muted>
                            <source src="assets/img/borsen/BorsenAnimation.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                             
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Borsen 30sek video -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" controls>
                            <source src="assets/video/borsen/Borsen.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                             
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Løsning -->
    <section class="bg-dark-blue p-lg-5 py-5 ">
        <div class="container-fluid py-lg-4 px-lg-5">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-center">
                    <div>
                        <h1 class="display-4">Stærkt strategiarbejde <br class="d-none d-lg-block">ud fra stærke holdninger <br class="d-none d-lg-block"> til at tage ansvar</h1>
                        <h3 class="mt-4">Ny payoff: Ansvar kræver indsigt</h3>
                        <p >I tæt samarbejde med Børsen blev den nye Value Proposition formuleret. ’Børsen er for dig, der har og tager ansvar i dansk erhvervsliv. Som erhvervslivets medie leverer vi den uundværlige kvalitetsjournalistik, der bidrager til, at du kan leve op til dit ansvar og træffe de rette beslutninger.’ Ud fra dette grundlag blev den nye pay off født. Og en repositionerings-kampagne udviklet – med de tre ansvarshavde redaktører i front.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Børsen Print -->
    <section class="px-lg-5">
        <div class="container-fluid p-lg-5 py-5">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="assets/img/borsen/BORSEN-PRINT.jpg" alt="Borsen Print" class="img-fluid">
                    <!-- <h3 class="pt-4">Lorem ipsum dolor sit amet.</h3>
                    <p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi ad, hic commodi harum nihil corrupti.</p> -->
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6 p-0 bg-light-blue order-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <!-- <video  class="video-fluid" nocontrols muted autoplay loop>
                            <source src="assets/img/borsen/BorsenLaptop.mp4" type="video/mp4">
                             
                        </video> -->
                        <video  class="video-fluid" controls>
                            <source src="assets/img/borsen/Helle_16.9_SUB_BurnedIn.mp4" type="video/mp4">
                             
                        </video>
                    </div>
                </div>

                <div class="col-lg-6 bg-light-blue px-lg-4 d-flex align-items-center py-5 py-lg-3 py-xl-5 text-white order-2">
                    <div class="px-xl-4">
                        <h1>Vi satte Børsens <br class="d-none d-lg-block"> profiler i førersædet</h1>
                        <p>Kampagnens startskud var et tv-spot, hvor Bjarne Corydon sætter ansvar på dagsordenen. På landing page og andre medier kommer også andre førende Børsen-profiler til orde. Fordi det er dem, der tager ansvaret for at dække erhvervslivet, økonomi og politik hver eneste dag.</p>
                    </div>
                </div>

                <!-- Helle Interview -->
                <div class="col-lg-6 p-0 bg-dark-blue order-3 order-lg-4">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" nocontrols muted autoplay loop>
                            <source src="assets/img/borsen/BorsenLaptop.mp4" type="video/mp4">
                             
                        </video>
                        <!-- <video  class="video-fluid" controls>
                            <source src="assets/img/borsen/Helle_16.9_SUB_BurnedIn.mp4" type="video/mp4">
                                 
                        </video> -->
                    </div>
                </div>

                <div class="col-lg-6 bg-dark-blue px-lg-4 d-flex align-items-center py-5 py-lg-3 py-xl-5 text-white order-4 order-lg-3">
                    <div class="px-xl-4">
                        <h1>Personlige beretninger<br class="d-none d-lg-block"> på alle platforme</h1>
                        <p class=" sub-text">De ansvarshavende redaktører fortalte hver især, hvordan de bidrager til, at det danske erhvervsliv kan tage ansvar. I kanaler som bannere, Facebook, LinkedIn og print førte vi læserne ind på en kampagneside, hvor de kunne se videoerne med de 4 profiler.</p>
                    </div>
                </div>

                <!-- Bjarne Interview -->
                <div class="col-lg-6 p-0 order-5">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video  class="video-fluid" controls>
                            <source src="assets/img/borsen/Bjarne_16.9_SUB_BurnedIn_1.mp4" type="video/mp4">
                                 
                        </video>
                    </div>
                </div>
                <div class="col-lg-6 bg-white d-flex align-items-center py-5 py-lg-3 py-xl-5 px-lg-4 text-secondary order-6">
                    <div class="px-xl-4">
                        <h1 >Bjarne Corydon tager <br class="d-none d-lg-block"> ansvaret og går forrest</h1>
                        <p>Konceptet positionerede den nye ansvarshavende redaktør og gav ham den nødvendige taletid.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section >
        <div class="container-fluid ">
            <div class="row">
                <a  href="case-danske-spil.html" class="col-lg-3 col-6 bg-blue p-lg-5 order-2 order-lg-1 hover-left">
                    <div class="d-flex flex-column justify-content-center align-items-center p-5 text-white text-center">
                        <h1>Forrige case</h1>
                        <i class="fas fa-arrow-left fa-5x text-white"></i>
                        <!-- <img class="logo-size" src="assets/img/dsb/DSB-Logo.png" alt="dsb logo" > -->
                    </div>
                </a>
                <div class="col-lg-6 bg-dark-blue d-flex order-1 order-lg-2 justify-content-center no-after align-items-center">
                    <div class="text-center py-5">
                        <h1 class="text-white">Hør mere om denne case</h1>
                        <h4 class="mb-0 text-white">Andreas Hansen</h4>
                        <a href="tel:+4531100095" class="text-white"><i class="fas fa-phone pr-3"></i>+45 31 10 00 95</a> <br>
                        <a href="mailto:welcome@nordlid.com" class="text-white"><i class="fas fa-envelope pr-3"></i>aha@nordlid.com</a>
                    </div>
                </div>
                <!-- <a class="col-lg-3 nyhedsbrev-bg d-sm-none d-lg-block p-5">
                    <div class="d-flex flex-row justify-content-center align-items-center  text-center p-5">
                        <h1 class="text-white" >Tilmeld til nyhedsbrev</h1>
                    </div>
                </a> -->
                <a href="case-dsb.html" class="col-lg-3 col-6 bg-light-blue p-lg-5 order-3 order-lg-3 hover-right">
                    <div class="d-flex flex-column justify-content-center align-items-center  text-white p-5 text-center">
                        <h1>Næste case</h1>
                        <i class="fas fa-arrow-right fa-5x text-white "></i>
                    </div>
                </a>
            </div>
        </div>
    </section>

</main>

include includes/footer.pug

include js/js.pug

include js/donut-chart-js.pug

</body>

</html>