include includes/header-top.pug

<title>Nordlid | Nordens Customer Experience Bureau</title>

<meta property="og:title" content="Nordlid | Cookie Policy">
<meta property="og:url" content="cookie-policy.html">

<meta name="twitter:title" content="Nordlid | Nordens Customer Experience Bureau">

include includes/header-bottom.pug


<main class="cookie-policy">

  <!-- HERO -->
  <section class="hero bg-dark px-0 px-md-5">
    <div class="container">
      <div class="row">
        <div class="col d-flex align-items-center justify-content-start ">  
          <div class="my-5 pt-5 text-left">
            <h1 class="mb-2 pt-5 display-4">Hos Nordlid elsker vi cookies</h1>
            <h1 class="">Både de digitale og analoge</h1> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="h2 pb-3">Cookiepolitik</h1>
            <article>
              <p><strong>Introduktion</strong>
                <br>Når du besøger vores website indsamles der oplysninger om dig, som bruges til at tilpasse og forbedre vores indhold og til at øge værdien af de annoncer, der vises på siden. Hvis du ikke ønsker, at der indsamles oplysninger, bør du slette dine cookies <a href="https://minecookies.org/cookiehandtering/" class="inherit">(se vejledning)</a> og undlade videre brug af websitet. Nedenfor har vi uddybet, hvilke informationer der indsamles, deres formål og hvilke tredjeparter, der har adgang til dem.
              </p>
            </article>
            <article>
              <p><strong>Cookies</strong>
                <br>Cookies Websitet anvender ”cookies”, der er en tekstfil, som gemmes på din computer, mobil el. tilsvarende med det formål at genkende den, huske indstillinger, udføre statistik og målrette annoncer. Cookies kan ikke indeholde skadelig kode som f.eks. virus.                
              </p>
              <p>Det er muligt at slette eller blokere for cookies. Se vejledning: <a href="http://minecookies.org/cookiehandtering" class="inherit font-weight-normal">http://minecookies.org/cookiehandtering</a></p>
              <p>Hvis du sletter eller blokerer cookies vil annoncer kunne blive mindre relevante for dig og optræde hyppigere. Du kan desuden risikere at websitet ikke fungerer optimalt samt at der er indhold, du ikke kan få adgang til.</p>
            </article>
            <article>
              <p><strong>Websitet indeholder cookies fra tredjeparter, der omfatter:</strong></p>
              <h6 class="text-secondary">Cookies fra Google Analytics</h6>
              <p>Vi bruger Google Analytics til at analysere, hvordan brugerne anvender nordlid.com. Her er det ikke muligt at genkende enkeltpersoner. Oplysningerne gemmes på Googles servere i USA. Google Analytics kan videregive oplysningerne til tredjemand, hvis loven kræver det, eller hvis tredjemand behandler oplysningerne på Google Analytics’ vegne. Google Analytics sætter to typer cookies. Den ene er en permanent cookie, der viser om det er en tilbagevendende bruger, hvilket website brugeren kommer fra, hvilken søgemaskine der er brugt osv. De permanente cookies bliver lagret på din harddisk indtil de udløber, eller du selv sletter dem. Den anden er en sessionscookie. Den bruges til at vise, hvornår og hvor længe en bruger er på sitet. Den udløber efter hver session, altså når du lukker en fane eller din browser.</p>
              <p><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" class="inherit font-weight-normal">Læs mere om, hvordan Google bruger cookies</a></p>
           
              <h6 class="text-secondary">Cookies fra Eloqua</h6>
              <p>Vi bruger Eloqua til at indsamle oplysninger om den enkelte besøgendes adfærd på websitet med henblik på at målrette markedsføring. Hvilke data indhenter cookien: Tracking af sidevisninger. Hvem er den endelige modtager af data fra cookien: Nordlid ApS via Oracle-Eloqua.</p>
            
              <h6 class="text-secondary">Cookies fra Pardot</h6>
              <p>Vi bruger Pardot til at indsamle oplysninger om den enkelte besøgendes adfærd på websitet med henblik på at målrette markedsføring. Hvilke data indhenter cookien: Tracking af sidevisninger. Hvem er den endelige modtager af data fra cookien: Nordlid ApS via Salesforce.com-Pardot.</p>
              
              <h6 class="text-secondary">Cookies fra Google Adwords og Google Dynamic Remarketing</h6>
              <p>Cookies fra Google Adwords giver mulighed for at følge effekten af annoncerne der vises på Google i forbindelse med søgninger. Disse annoncer skal helst være så relevante som muligt og vha. cookies kan man se om brugeren har fundet frem til den ønskede side, produkt eller information. De vil også hjælpe til med at tilpasse Google søgninger over tid, så brugeren får mere effektive søgninger. Cookies herfra kan anvendes i remarketing kampagner på Google Display Netværket. Adwords cookies lagres i 30 dage. Remarketing cookien muliggør bedre målretning af annoncer, så brugeren præsenteres for de mest relevante annoncer fra Nordlid ApS.</p>
              <h6 class="text-secondary">Cookies fra Hotjar</h6>
              <p>Vi bruger <a href="https://www.hotjar.com/home1" target="_blank" class="inherit font-weight-normal">Hotjar</a> for at bedre forstå vores brugers behov og for at optimere vores service og erfaring. Hotjar er en teknologi tjeneste, som hjælper os med at forstå vores brugeres oplevelse bedre (f.eks. Hvor meget tid bruger de på hvilke sider, hvilke links de vælger at klikke på, hvad brugere gør og ikke kan lide osv.) Og det gør det muligt for os at opbygge og opretholde vores service med brugernes feedback. Hotjar bruger cookies og andre teknologier til at indsamle data om vores brugeres adfærd og deres enheder (især enhedens IP-adresse (fanget og opbevares kun i anonymiseret form), enhedens skærmstørrelse, enhedstype (unikke enheds identifikatorer), browser information, geografisk placering (kun land), foretrukket sprog, der bruges til at vise vores hjemmeside). Hotjar gemmer disse oplysninger i en pseudonymiseret brugerprofil. Hverken Hotjar eller vi vil nogensinde bruge disse oplysninger til at identificere individuelle brugere eller til at matche det med yderligere data om en enkelt bruger. For yderligere oplysninger, se Hotjars privatlivspolitik ved at klikke på dette <a href="https://www.hotjar.com/legal/policies/privacy" target="_blank" rel="noopener noreferrer" class="inherit font-weight-normal">link</a>. <br> <br>                Du kan fravælge oprettelsen af ​​en brugerprofil, Hotjar's lagring af data om din brug af vores hjemmeside og Hotjar's brug af sporing cookies på andre websteder ved at følge denne <a href="https://www.hotjar.com/legal/compliance/opt-out" target="_blank" rel="noopener noreferrer" class="inherit font-weight-normal">opt-out-link.</a>  </p>
            </article>
            <article>
              <p><strong>Personoplysninger</strong></p>
              <h6 class="text-secondary">Generelt</h6>
              <p>Personoplysninger er alle slags informationer, der i et eller andet omfang kan henføres til dig. Når du benytter vores website indsamler og behandler vi en række sådanne informationer. Det sker f.eks. ved alm. tilgang af indhold, hvis du tilmelder dig vores nyhedsbrev, deltager i konkurrencer, webinar, events eller undersøgelser.</p>
              <p>Vi indsamler og behandler typisk følgende typer af oplysninger: Et unikt ID og tekniske oplysninger om din computer, tablet eller mobiltelefon, dit IP-nummer, geografisk placering, samt hvilke sider du klikker på (interesser). I det omfang du selv giver eksplicit samtykke hertil og selv indtaster informationerne behandles desuden: Navn, telefonnummer, e-mail og adresse. Det vil typisk være i forbindelse med oprettelse af login eller ved køb.</p>
            
              <h6 class="text-secondary">Sikkerhed</h6>
              <p>Vi har truffet tekniske og organisatoriske foranstaltninger mod, at dine oplysninger hændeligt eller ulovligt bliver slettet, offentliggjort, fortabt, forringet eller kommer til uvedkommendes kendskab, misbruges eller i øvrigt behandles i strid med lovgivningen.</p>
            
              <h6 class="text-secondary">Formål</h6>
              <p>Oplysningerne bruges til at identificere dig som bruger og vise dig de annoncer, som vil have størst sandsynlighed for at være relevante for dig for at kunne levere de services, du har efterspurgt, som f.eks. at fremsende et nyhedsbrev. Herudover anvender vi oplysningerne til at optimere vores services og indhold.</p>
              
              <h6 class="text-secondary">Periode for opbevaring</h6>
              <p>Oplysningerne opbevares i det tidsrum, der er tilladt i henhold til lovgivningen, og vi sletter dem, når de ikke længere er nødvendige. Perioden afhænger af karakteren af oplysningen og baggrunden for opbevaring. Det er derfor ikke muligt at angive en generel tidsramme for, hvornår informationer slettes.</p>
              
              <h6 class="text-secondary">Videregivelse af oplysninger</h6>
              <p>Data om din brug af websitet, hvilke annoncer, du modtager og evt. klikker på, geografisk placering, køn og alderssegment m.v. videregives til tredjeparter i det omfang disse oplysninger er kendt. Du kan se hvilke tredjeparter, der er tale om, i afsnittet om ”Cookies” ovenfor. Oplysningerne anvendes til målretning af annoncering.</p>
              <p>Vi benytter herudover en række tredjeparter til opbevaring og behandling af data. Disse behandler udelukkende oplysninger på vores vegne og må ikke anvende dem til egne formål.</p>
              
              <h6 class="text-secondary">Indsigt og klager</h6>
              <p>Du har ret til at få oplyst, hvilke personoplysninger, vi behandler om dig. Du kan desuden til enhver tid gøre indsigelse mod, at oplysninger anvendes. Du kan også tilbagekalde dit samtykke til, at der bliver behandlet oplysninger om dig. Hvis de oplysninger, der behandles om dig, er forkerte har du ret til at de bliver rettet eller slettet. Henvendelse herom kan ske til: <a href="mailto:info@nordlid.com" class="inherit">info@nordlid.com</a>. Hvis du vil klage over vores behandling af dine personoplysninger, har du også mulighed for at tage kontakt til <a href="https://www.datatilsynet.dk/" class="inherit">Datatilsynet</a>.</p>
            
              <h6 class="text-secondary">Udgiver</h6>
              <p>Websitet ejes og publiceres af:</p>
              <p>Nordlid ApS
                <br>Islands Brygge 43, 4 
                <br>2300 København S 
                <br><br>
                <a href="tel:+4531100095" class="inherit">+45 3110 0095</a>
                <br><a href="mailto:welcome@nordlid.com" class="inherit">welcome@nordlid.com</a> 
            </p>
            </article>
        </div>
      </div>
    </div>
  </section>
</main>


include includes/footer.pug

<!-- include includes/scripts.pug -->
include js/js.pug

<!-- GSAP LINKS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/TextPlugin.min.js"></script>

<!-- LAXXX SCROLL LINKS -->
<script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>

include js/gsap-text-changer.pug

<!-- include js/change-text-hover.pug -->

</body>

</html>