include includes/header-top.pug

<title>Nordlid | Nordens Customer Experience Bureau</title>

<meta property="og:title" content="Nordlid | Nordens Customer Experience Bureau">
<meta property="og:url" content="index.html">

<meta name="twitter:title" content="Nordlid | Nordens Customer Experience Bureau">

include includes/header-bottom.pug

<main class="hero-wrapper">

  <section class="full-title-section-case hero-img" id="hero">
    <div class="container-fluid  ">
        <div class="row">
            <div class="col-md-8 hero-height text-center offset-md-2 p-0 d-flex px-2 justify-content-center align-items-center text-white">
              <!-- <img src="assets/img/dda-hero2.jpg" class="hero-img" alt=""> -->
                <!-- <div class="embed-responsive full-title-section-height bg-white m-0 p-0">
                    <video id="hero-video" class="video-fluid hero-video" nocontrols autoplay muted loop preload="none">
                        <source src="assets/img/FORSIDE-FILM-DDA-HI-2019.mp4" type="video/mp4">
                        <source src="movie.ogg" type="video/ogg">
                         
                        <h1>test</h1>
                    </video>
                </div> -->
                <!-- <div class="hero-text text-white text-center">
                  <h1 class="mb-2 pt-5 display-4">5 shortlister og  <br class="d-sm-none">4 awards ved Danish Digital Awards 2019</h1>
                  <h1 class="hero-sub-text">Se cases for <a href="case-dsb.html" class="text-white">DSB</a> og <a href="case-danske-spil.html" class="text-white">Danske Spil</a></h1> 
                </div> -->
                <div>
                  <div class="pt-5 mt-5">
                    <h1 class="custom-hero1">Danish Digital Award <span class="d-none d-md-inline">2019</span></h1> 
                    <h1 class="display-3 custom-fw-bold">Årets Digitale Bureau</h1> 
                    <h1 class="custom-hero2">3 Guld / 1 Sølv / 1 Bronze</h1>
                  </div>
                  <h3 class="hero-sub-text mt-5 pt-5">Se cases for <br class=" d-md-none"> <a href="https://www.nordlid.com/case-dsb.html" class="text-white ">DSB</a> og <a href="https://www.nordlid.com/case-danske-spil.html" class="text-white">Danske Spil</a></h3>                   
                </div>
            </div>
        </div>
    </div>
  </section>

  <!-- QUAD SECTION -->
  <section class="quad-section">
    <!-- SQUARE-1 -->
    <div class="d-flex flex-wrap">

      <a id="cases" href="https://www.nordlid.com/cases.html" class="square square-left bg-dark-blue bg-cases align-items-center justify-content-center d-flex">
        <!-- <img class="img-gone case-logo-click" src="assets/img/dsb/DSB-Logo.png" alt="dsb logo" > -->
      <h2 class="img-gone text-center " >Cases</h1>
        <h4 class="case-text " >Se gode eksempler på, hvordan vi har hjulpet med at styrke relationer mellem vores kunder og deres kunder</h4>
      </a>
      <!-- SQUARE-2 -->
      <a id="service" href="https://www.nordlid.com/service.html" class="square square-right text-white service-bg align-items-center justify-content-center d-flex">
          <!-- <img class="img-gone case-logo-click" src="assets/img/dsb/DSB-Logo.png" alt="dsb logo"> -->
          <h1 class="img-gone text-center" >Services</h1>
          <h4 class="case-text" >Kombinationen af strategi, forretningsforståelse, kreativitet og tech gør relationer stærkere og øger effekten</h4>
      </a>
      <!-- SQUARE-4 -->
      <a href="https://www.nordlid.com/karriere.html" class="square square-right px-4 pb-2 pt-5 p-md-5 align-items-center justify-content-center d-flex bg-dark bg-karrier ">
        <div class="square-content text-center ">
          <h1 class="img-gone">Karriere hos os?</h1>
          <h4 class="case-text">Vi søger endnu flere dygtige mennesker, som kan hjælpe med at styrke relationer mellem brands og mennesker</h4>
        </div>
      </a>
      <!-- SQUARE-3 -->
      <a href="https://www.nordlid.com/om-os.html" class="square square-left px-4 pb-2 pt-5 p-md-5 align-items-center justify-content-center d-flex bg-dark-blue order-1 order-md-0 bg-om-os">
        <div class="square-content text-center">
          <h1 class="img-gone">Om os</h1>
          <h4 class="case-text">Her kan du møde resten af holdet som arbejder for at styrke relationer mellem mennesker og brands</h4>
        </div>
      </a>

    </div>
  </section>

  <section id="vores-kunder" class="kunder-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-0">
          <!-- <div class="text-center kunder-text d-none d-lg-block">
            <h1 class="display-4 text-secondary">Nogle af dem vi hjælper  med at styrke relationer</h1>
          </div> -->
          <!-- <h1 class="display-4 text-center mt-5 text-secondary m ">Forstærker relationer med vores kunder</h1> -->
          <img src="https://www.nordlid.com/assets/img/vores-kunder/Logovæg-til-forside1.jpg" alt="" class="img-fluid w-100 d-none d-lg-block">
          <img src="https://www.nordlid.com/assets/img/vores-kunder/Logovæg-til-forside-Mobil1.jpg" alt="" class="img-fluid w-100 d-lg-none">
        </div>
      </div>
    </div>
  </section>

</main>

include includes/footer.pug

<!-- include includes/scripts.pug -->
include js/js.pug

<!-- include js/gsap-text-changer.pug -->

<!-- include js/change-text-hover.pug -->

</body>

</html>