include includes/header-top.pug

<title>Nordlid | Karrier</title>

<meta property="og:title" content="Nordlid | Karrier">
<meta property="og:url" content="index.html">

<meta name="twitter:title" content="Nordlid | Karrier">

include includes/header-bottom.pug


<main>
    <!-- Karriere hos Nordlid -->
    <section id="karriere-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 py-4 p-lg-0 bg-dark-blue d-flex align-items-center karriere-content">
                    <div class="p-2 py-5 mt-md-5 mt-xl-0 p-lg-5 mx-lg-3">
                        <h1 class="display-4 mt-5 pt-md-5">Karriere <br>hos Nordlid</h1>
                        <p class="mb-5 sub-text">Når du starter i Nordlid bliver du en del af en kompetent og nordisk forankret virksomhed. Vi huser strateger, kreative, udviklere, projektledere og andre specialister, der samlet sikrer den høje kvalitet i leverancerne af integrerede kundeoplevelser.</p>                        
                        <!-- <p class="mb-5 sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>                         -->
                        <a href="tel:+4531100095" class="inherit">+45 31 10 00 95</a> <br>                        
                        <a href="mailto:welcome@nordlid.com" class="inherit">welcome@nordlid.com</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-0 bg-blue karriere-img d-none d-md-block">
                    <!-- <div class=""> -->
                        <!-- <img src="assets/img/daniel-mccullough-514240-unsplash.jpg" alt="" class="img-fluid"> -->
                    <!-- </div> -->
                    
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="karriere-positions">
        <div class="container-fluid p-4 p-lg-5">
            <div class="row my-5">
                <div class="col-12 col-xl-6 ">
                    <h2>Senior projektleder til Nordlið</h2>
                    <p class="sub-text">Vi har brug for dig, der har det forkromede overblik, passion og overskud til at levere digitale kundeoplevelser med sans for de afgørende detaljer.</p>
                    <a href="#" class="inherit">Læs hele stillingsopslaget</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12 col-xl-6">
                    <h2>Kommerciel solution arkitekt til Nordlið</h2>
                    <p class="sub-text">Får du energi af at udvikle kommercielle og digitale løsninger, hvor platforme og data spiller en afgørende rolle, når du skal skabe resultater for dine kunder?</p>
                    <a href="#" class="inherit">Læs hele stillingsopslaget</a>    
                </div>
            </div>
        </div>
    </section> -->

    <!-- QUAD SECTION -->
    <!-- <section class="quad-section" class="karriere-quad">
        <div class="d-flex flex-wrap justify-content-center">
            <a href="karrier-crm.html" class="bg-crm waves-light square-left hoverable square p-4 pt-5 p-md-5 align-items-end d-flex bg-dark-blue ">
                <div class="square-content">
                <h2>CRM-konsulenter til Nordlid</h2>
                <p class="my-0 ">Deadline - 30.april 2019</p>
                </div>
            </a>
        </div>
    </section> -->

    <section class="karriere-apply px-4 px-md-5 my-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="d-flex flex-wrap align-items-center text-center text-sm-left">
                        <div class="pr-0 py-3 px-md-5 mx-auto mx-md-0">
                            <img src="assets/img/hks1.jpg" alt="" class="rounded-circle" width="200" height="200">
                        </div>
                        <div class="mx-auto mx-md-0">
                            <h4>Send uopfordret ansøgning</h4>
                            <p>Helle Kongsgaard Søborg <br> HR Manager & Controller</p>
                            <a href="tel:+4521164814" class="inherit">+45 21 16 48 14</a> <br>
                            <a href="mailto:boh@nordlid.dk" class="inherit">hks@nordlid.dk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

include includes/footer.pug

include js/js.pug

</body>
</html>