include includes/header-top.pug

<title>Nordlid | Services - Sådan skaber vi øjeblikke</title>

<meta property="og:title" content="Nordlid | Services - Sådan skaber vi øjeblikke">
<meta property="og:url" content="service.html">

<meta name="twitter:title" content="Nordlid | Services - Sådan skaber vi øjeblikke">

include includes/header-bottom.pug

<main>
    
    <section class="service-bg half-title-section bg-dark-blue  p-4 py-5 p-md-5">
        <div class="col-height d-flex align-items-center justify-content-center">
            <div class="pt-5 mt-5 px-3 text-center">
                <h1 class="display-4">Services <br>vi arbejder for at styrke relationer</h1>
                <!-- <h1 class="display-4">Services</h1> -->
            </div>
        </div>
    </section>
    
    <section class="bg-dark-blue p-lg-5 py-5">
        <div class="container-fluid py-lg-4 ">
            <div class="row">
                <div class="col-xl-8 d-flex align-items-center">
                    <div>
                        <h1 class="mb-4 display-4">Det vi tror på, og det vi gør</h1>
                        <p>Vi inspirerer til forandring og skaber resultater for vores kunder ved at bygge stærke relationer mellem mennesker og brands. Vi hjælper med at definere jeres <span class="font-weight-bold">løfte</span> og <span class="font-weight-bold">beviser</span> det gennem integrerede kundeoplevelser.</p>        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="flower-section-ie">
        <div class="container-fluid p-lg-5 py-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-7 text-center">
                    <img src="assets/img/service.jpg" alt="" class="img-fluid pb-5">
                </div>
                <div class="col-xl-5 text-secondary">
                    <div class=" d-flex flex-row justify-content-center align-items-start px-5 py-3">
                        <div>
                            <i class="fas fa-chess-knight fa-3x pr-4"></i>
                        </div>
                        <div>
                            <h3>Strategi & forretnings-forståelse</h3>
                            <p>Vi udvikler relationsstrategier og integrerede kundeoplevelser, som bygger på dyb forretningsforståelse, solide indsigter, analyse og data.</p>
                        </div>
                    </div>
                    <div class=" d-flex flex-row  justify-content-center px-5 py-3">
                        <div>
                            <i class="fas fa-lightbulb fa-3x pr-4"></i>
                        </div>
                        <div>
                            <h3>Idé & kreativitet</h3>
                            <p>Vi udvikler stærke kreative løsninger, der altid er strategisk funderede og relevante. Og har fokus på at øge relationsstyrken mellem virksomhed og kunde.</p>

                        </div>
                    </div>
                    <div class=" d-flex flex-row  justify-content-center px-5 py-3">
                        <div>
                            <i class="fas fa-rocket fa-3x pr-4"></i>
                        </div>
                        <div>
                            <h3>Tech & digital</h3>
                            <p>Vi bygger best-in-class løsninger ved at udnytte de relevante teknologiske, digitale og datamæssige muligheder, så relationen kan realiseres.</p>
                        </div>
                    </div>
                    <div class=" d-flex flex-row  justify-content-center px-5 py-3">
                        <div>
                            <i class="fas fa-chart-line fa-3x pr-4"></i>
                        </div>
                        <div>
                            <h3>Effekt</h3>
                            <p>Vi monitorerer og dokumenterer effekten af vores løsninger, så de løbende kan optimeres og skabe best practice.</p>
                        </div>
                    </div>
                    <div class=" d-flex flex-row  justify-content-center px-5 py-3">
                        <div>
                            <i class="fas fa-users fa-3x pr-4"></i>
                        </div>
                        <div>
                            <h3>Organisering</h3>
                            <p>Vi rådgiver og supporterer virksomhederne om organisations-forandringer ift. at styrke kunderelationen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="flower-section" class=" justify-content-center py-lg-5 py-0 bg-white">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1190.6 841.9" style="enable-background:new 0 0 1190.6 841.9;" xml:space="preserve">
            <text x="450" y="280" fill="#2B4C61" font-size="20">Vi inspirerer vores kunder til at bygge</text>
            <text x="450" y="310" fill="#2B4C61" font-size="20">stærke relationer mellem mennesker</text>
            <text x="560" y="340" fill="#2B4C61" font-size="20">og brands.</text>
            <path id="scale-icon-hand" fill="currentColor" d="M434.7 64h-85.9c-8 0-15.7 3-21.6 8.4l-98.3 90c-.1.1-.2.3-.3.4-16.6 15.6-16.3 40.5-2.1 56 12.7 13.9 39.4 17.6 56.1 2.7.1-.1.3-.1.4-.2l79.9-73.2c6.5-5.9 16.7-5.5 22.6 1 6 6.5 5.5 16.6-1 22.6l-26.1 23.9L504 313.8c2.9 2.4 5.5 5 7.9 7.7V128l-54.6-54.6c-5.9-6-14.1-9.4-22.6-9.4zM544 128.2v223.9c0 17.7 14.3 32 32 32h64V128.2h-96zm48 223.9c-8.8 0-16-7.2-16-16s7.2-16 16-16 16 7.2 16 16-7.2 16-16 16zM0 384h64c17.7 0 32-14.3 32-32V128.2H0V384zm48-63.9c8.8 0 16 7.2 16 16s-7.2 16-16 16-16-7.2-16-16c0-8.9 7.2-16 16-16zm435.9 18.6L334.6 217.5l-30 27.5c-29.7 27.1-75.2 24.5-101.7-4.4-26.9-29.4-24.8-74.9 4.4-101.7L289.1 64h-83.8c-8.5 0-16.6 3.4-22.6 9.4L128 128v223.9h18.3l90.5 81.9c27.4 22.3 67.7 18.1 90-9.3l.2-.2 17.9 15.5c15.9 13 39.4 10.5 52.3-5.4l31.4-38.6 5.4 4.4c13.7 11.1 33.9 9.1 45-4.7l9.5-11.7c11.2-13.8 9.1-33.9-4.6-45.1z"></path>
            <path class="st4" d="M604.8,34.5c-126.5,0-229.1,102.6-229.1,229.1s102.6,229.1,229.1,229.1s229.1-102.6,229.1-229.1 S731.3,34.5,604.8,34.5z M738.2,397c-73.7,73.7-193.1,73.7-266.7,0s-73.7-193.1,0-266.7s193.1-73.7,266.7,0S811.8,323.3,738.2,397z"/>           
            <g class="svg-menu__path__seleccion clickable-path"  cursor="pointer" pointer-events="all">  
                <g class="svg-menu__path__seleccion__background">
                    <path class="st0" d="M167.2,555.3l207.1-150.5l0,0c-22.1-36.1-35.7-77.2-39.1-120.1H79.1C83.1,382.1,114.1,475.7,167.2,555.3z"/>
                </g>
                <g class="svg-menu__path__seleccion__text">    
                    <text x="145" y="360" fill="#000000" font-size="28">Strategi &</text>
                    <text x="140" y="390" fill="#000000" font-size="28">forretnings-</text>
                    <text x="150" y="420" fill="#000000" font-size="28">forståelse</text>
                </g>
                <g class="svg-menu__path__seleccion__textbody">  
                    <path class="svg-circle-bg" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" ></path>   
                    <text x="460" y="280" fill="#2B4C61" font-size="20">Vi udvikler relationsstrategier og</text>
                    <text x="455" y="310" fill="#2B4C61" font-size="20">integrerede kundeoplevelser, som</text>
                    <text x="445" y="340" fill="#2B4C61" font-size="20">bygger på dyb forretningsforståelse,</text>
                    <text x="462" y="370" fill="#2B4C61" font-size="20">solide indsigter, analyse og data.</text>
                    <path id="scale-icon-strategi" fill="currentColor" d="M352 224v224H32v-46.557c0-30.302 17.12-58.003 44.223-71.554l57.243-28.622A48 48 0 0 0 160 258.334V208l-22.127 11.063a23.996 23.996 0 0 0-12.55 15.645l-11.835 47.338a12 12 0 0 1-7.185 8.231l-29.601 11.84a11.998 11.998 0 0 1-9.33-.176L7.126 275.167A12 12 0 0 1 0 264.201v-158.26c0-6.365 2.529-12.47 7.03-16.971L16 80 1.789 51.578A16.937 16.937 0 0 1 0 44c0-6.627 5.373-12 12-12h148c106.039 0 192 85.961 192 192zm20 240H12c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h360c6.627 0 12-5.373 12-12v-24c0-6.627-5.373-12-12-12zM52 128c-11.046 0-20 8.954-20 20s8.954 20 20 20 20-8.954 20-20-8.954-20-20-20z"></path>
                </g>
            </g> 
            <g class="svg-menu__path__seleccion clickable-path"   cursor="pointer" pointer-events="all">  
                <g class="svg-menu__path__seleccion__background">
                    <path class="st1" d="M422.3,756.8l79.1-243.5l0,0c-39.1-16.2-74.3-41.5-102.2-74.2L192,589.7C252.4,666.1,332.5,723.6,422.3,756.8z"/>
                </g>
                <g class="svg-menu__path__seleccion__text">    
                    <text x="325" y="580" fill="#000000" font-size="28">Idé &</text>
                    <text x="290" y="610" fill="#000000" font-size="28">kreativitet</text>
                </g>
                <g class="svg-menu__path__seleccion__textbody">
                    <path class="svg-circle-bg" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>   
                    <text x="450" y="280" font-size="20">Vi udvikler stærke kreative løsninger,</text>
                    <text x="455" y="310" font-size="20">der altid er strategisk funderede og</text>
                    <text x="460" y="340" font-size="20">relevante. Og har fokus på at øge</text>
                    <text x="450" y="370" font-size="20">relationsstyrken mellem virksomhed</text>
                    <text x="565" y="400" font-size="20">og kunde.</text>
                    <path id="scale-icon" fill="currentColor" d="M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z"></path>
                </g>
            </g> 
            <g class="svg-menu__path__seleccion clickable-path"   cursor="pointer" pointer-events="all">  
                <g class="svg-menu__path__seleccion__background">
                    <path class="st2" d="M747.1,769.9L668,526.5l0,0c-41.2,9.9-84.5,10.1-126.3,0.1l-79.1,243.6C556.3,796.4,654.9,795.8,747.1,769.9z"/>
                </g>
                <g class="svg-menu__path__seleccion__text">    
                    <text x="560" y="670" fill="#000000" font-size="28">Tech &</text>
                    <text x="563" y="700" fill="#000000" font-size="28">digital</text>
                </g>
                <g class="svg-menu__path__seleccion__textbody">  
                    <path class="svg-circle-bg" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>   
                    <text x="445" y="280" fill="#2B4C61" font-size="20">Vi bygger best-in-class løsninger ved</text>
                    <text x="448" y="310" fill="#2B4C61" font-size="20">at udnytte de relevante teknologiske,</text>
                    <text x="448" y="340" fill="#2B4C61" font-size="20">digitale og datamæssige muligheder,</text>
                    <text x="485" y="370" fill="#2B4C61" font-size="20">så relationen kan realiseres.</text>
                    <path id="scale-icon-rocket" fill="currentColor" d="M505.05 19.1a15.89 15.89 0 0 0-12.2-12.2C460.65 0 435.46 0 410.36 0c-103.2 0-165.1 55.2-211.29 128H94.87A48 48 0 0 0 52 154.49l-49.42 98.8A24 24 0 0 0 24.07 288h103.77l-22.47 22.47a32 32 0 0 0 0 45.25l50.9 50.91a32 32 0 0 0 45.26 0L224 384.16V488a24 24 0 0 0 34.7 21.49l98.7-49.39a47.91 47.91 0 0 0 26.5-42.9V312.79c72.59-46.3 128-108.4 128-211.09.1-25.2.1-50.4-6.85-82.6zM384 168a40 40 0 1 1 40-40 40 40 0 0 1-40 40z"></path>
                </g>
            </g>
            
            <g class="svg-menu__path__seleccion clickable-path"   cursor="pointer" pointer-events="all">  
                <g class="svg-menu__path__seleccion__background">
                    <path class="st3" d="M1017.6,589.6L810.4,439.1l0,0c-27.5,32.2-62.4,57.8-102.1,74.3L787.5,757 C878.8,723.1,958.2,664.7,1017.6,589.6z"/>
                </g>
                <g class="svg-menu__path__seleccion__text">    
                    <text x="800" y="600" fill="#000000" font-size="28">Effekt</text>
                </g>
                <g class="svg-menu__path__seleccion__textbody">  
                    <path class="svg-circle-bg" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>   
                    <text x="460" y="280" fill="#2B4C61" font-size="20">Vi monitorerer og dokumenterer</text>
                    <text x="458" y="310" fill="#2B4C61" font-size="20">effekten af vores løsninger, så de</text>
                    <text x="459" y="340" fill="#2B4C61" font-size="20">løbende kan optimeres og skabe</text>
                    <text x="540" y="370" fill="#2B4C61" font-size="20">best practice.</text>
                    <path id="scale-icon-effekt" fill="currentColor" d="M496 384H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM464 96H345.94c-21.38 0-32.09 25.85-16.97 40.97l32.4 32.4L288 242.75l-73.37-73.37c-12.5-12.5-32.76-12.5-45.25 0l-68.69 68.69c-6.25 6.25-6.25 16.38 0 22.63l22.62 22.62c6.25 6.25 16.38 6.25 22.63 0L192 237.25l73.37 73.37c12.5 12.5 32.76 12.5 45.25 0l96-96 32.4 32.4c15.12 15.12 40.97 4.41 40.97-16.97V112c.01-8.84-7.15-16-15.99-16z"></path>
                </g>
            </g> 
            <g class="svg-menu__path__seleccion clickable-path"   cursor="pointer" pointer-events="all">  
                <g class="svg-menu__path__seleccion__background">
                    <path class="st4" d="M1130.4,284.8h-256l0,0c-3.3,42.2-16.5,83.5-38.9,120.1l207.2,150.5C1096.6,474.3,1126.5,380.4,1130.4,284.8z"/>
                </g>
                <g class="svg-menu__path__seleccion__text">    
                    <text x="890" y="390" fill="#000000" font-size="28">Organisering</text>
                </g>
                <g class="svg-menu__path__seleccion__textbody">  
                    <path class="svg-circle-bg" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>   
                    <text x="490" y="280" fill="#2B4C61" font-size="20">Vi rådgiver og supporterer </text>
                    <text x="460" y="310" fill="#2B4C61" font-size="20">virksomhederne om organisations-</text>
                    <text x="500" y="340" fill="#2B4C61" font-size="20">forandringer ift. at styrke </text>
                    <text x="535" y="370" fill="#2B4C61" font-size="20">kunderelationen.</text>
                    <path id="scale-icon-people" fill="currentColor" d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"></path>
                </g>
            </g> 
        </svg>
    </section>
    
    <section>
        <div class="container-fluid">
            <div class="row align-items-stretch">
                <div class="col-lg-6 bg-dark-blue d-flex align-items-center justify-content-center py-5 p-lg-5 text-white order-2 order-lg-1">
                    <div class="small-service-container">
                        <div class="text-center">
                            <i class="fas fa-crosshairs fa-5x mb-4"></i>
                            <h1>Specialister og dedikerede rådgivere</h1>
                        </div>
                        <p>Vi er i dag omkring 55 engagerede og erfarne medarbejdere – og flere kommer løbende til. Vi er forretnings- og kommunikationsstrategiske rådgivere, koncept- og content-udviklere, tekstforfattere og Art Directors, Customers Success Managers, front- og back-end udviklere, digitale solution architects og dit bindeled: Alle de dybt professionelle projektledere.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-blue d-flex align-items-center justify-content-center py-5 p-lg-5 text-white order-1 order-lg-2">
                    <div class="small-service-container">
                        <div class="text-center">
                            <i class="fas fa-chess-knight fa-5x mb-4"></i>
                            <h1>Strategi & forretnings-forståelse</h1>
                        </div>
                        <p>Når vi starter arbejdet med at styrke relationer mellem mennesker og kundens brand, begynder vi typisk med at beskrive ambitionen for relationen. Og definere, hvordan den udvikles relevant over tid. Baseret på dyb forretningsforståelse og kundeindsigt hjælper vi med at prioritere og designe målrettede oplevelser, som skaber værdi for både virksomheden og kunden. Altid med fokus på målbar effekt.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-light-blue d-flex align-items-center justify-content-center py-5 p-lg-5 text-white order-3 order-lg-3">
                    <div class="small-service-container">
                        <div class="text-center">
                            <i class="fas fa-lightbulb fa-5x mb-4"></i>
                            <h1>Idé & kreativitet</h1>
                        </div>
                        <p>I kreativ afdeling er vores fokus på at omsætte den definerede strategi til interessante, innovative og relevante idéer. Idéer, der danner basis for udvikling af kommunikation og content, som kan skabe opmærksomhed, præference og involvering på tværs af alle mediekanaler og kategorier (kommunikation, services, produktudvikling mm.). Og give gode kundeoplevelser der er baseret på menneskelig indsigt.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-white d-flex align-items-center justify-content-center py-5 p-lg-5 text-secondary order-4 order-lg-4">
                    <div class="small-service-container">
                        <div class="text-center">
                            <i class="fas fa-rocket fa-5x mb-4"></i>
                            <h1>Tech & digital</h1>
                        </div>
                        <p>Relationer mellem mennesker skabes kun, når man nysgerrigt og interesseret spørger til hinandens interesser og gennem dialog lærer hinanden at kende. I den digitale verden er det brug af data, marketing automation tools og marketing infrastrukturer, der muliggør en personaliseret og interesseret dialog med leads og kunder. På tværs af kanaler og  situationer. </p>
                    </div>
                </div>
                <div class="col-lg-6 bg-dark-blue d-flex align-items-center justify-content-center py-5 p-lg-5 text-white order-6">
                    <div class="small-service-container">
                        <div class="text-center">
                            <i class="fas fa-chart-line fa-5x mb-4"></i>
                            <h1>Effekt </h1>
                        </div>
                        <p>Hos Nordlid har vi et team af erfarne Customer Succes Managers, hvis opgave er at hjælpe dig med at få succes med din marketing platform og hjælpe dig med at realisere det potentiale din investering har. Vi måler og analyserer effekten af dine marketinginitiativer. Vi ser på, om du udnytter dine marketingteknologi og -platforme optimalt. Og vi giver relevante, indsigtsbaserede anbefalinger til løbende optimering og nye initiativer.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-blue d-flex align-items-center justify-content-center py-5 p-lg-5 text-white order-5">
                    <div class="small-service-container">
                        <div class="text-center">
                            <i class="fas fa-users fa-5x mb-4"></i>
                            <h1>Organisering</h1>
                        </div>
                        <p>En del af Nordlids leverancer er også at rådgive og sparre med vores kunder om at opbygge eller tilpasse deres organisation, så den støtter og er gearet til at arbejde med relationsopbygning og brug af marketingteknologier og -platforme.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light-blue">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-center align-items-center flex-column flex-lg-row py-5">
                        <h1 class="text-white custom-lh pr-5">Certificeret <br> partner:</h1>
                        <img src="assets/img/partner-logos/AWS_logo.svg" alt="" class="partner-icon py-4 mt-4 pr-lg-3 aws-icon">
                        <img src="assets/img/partner-logos/Oracle_logo.svg" alt="" class="partner-icon  py-4 px-lg-3 oracle-icon">
                        <img src="assets/img/partner-logos/Salesforce_logo.svg" alt="" class="partner-icon py-4 pl-lg-3 salesforce-icon">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="not-the-fan" class="bg-white">
        <div class="container-fluid visual-bullets">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-wrap justify-content-center mb-5">
                        <div class="bullet bg-dark-blue rounded-circle p-5 d-flex flex-column justify-content-center">
                            <i class="fas fa-chess-knight fa-5x mb-4"></i>
                            <h4>STRATEGI OG FORRETNINGS-FORSTÅELSE</h4>
                            <p class="sub-text">Vi udvikler relationsstrategier og integrerede kundeoplevelser, som bygger på dyb forretnings-forståelse, solide indsigter, analyse og data.</p>
                        </div>
                        <div class="bullet bg-dark-blue rounded-circle p-5 d-flex flex-column justify-content-center">
                            <i class="fas fa-lightbulb fa-5x mb-4"></i>
                            <h4>IDÉ OG KREATIVITET</h4>
                            <p class="sub-text">Vi udvikler strategisk funderede, relevante kreative løsninger der fokuserer på relations styrken.</p>
                        </div>
                        <div class="bullet bg-dark-blue rounded-circle p-5 d-flex flex-column justify-content-center">
                            <i class="fas fa-rocket fa-5x mb-4"></i>
                            <h4>TECH & DIGITAL</h4>
                            <p class="sub-text">Vi bygger best-in-class løsninger ved at udnytte de relevante teknologiske, digitale og datamæssige muligheder, så relationen kan realiseres.</p>
                        </div>
                        <div class="bullet bg-dark-blue rounded-circle p-5 d-flex flex-column justify-content-center">
                            <i class="fas fa-chart-line fa-5x mb-4"></i>
                            <h4>EFFEKT</h4>
                            <p class="sub-text">Vi monitorerer og dokumenterer effekten af vores   løsninger, så de løbende kan optimeres og skabe best practice.</p>
                        </div>
                        <div class="bullet bg-dark-blue rounded-circle p-5 d-flex flex-column justify-content-center">
                            <i class="fas fa-users fa-5x mb-4"></i>
                            <h4>ORGANISERING</h4>
                            <p class="sub-text">Vi rådgiver og supporterer virksomhederne om organisations-forandringer ift. at styrke kunderelationen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


</main>

<!-- FOOTER -->
include includes/footer.pug

<!-- JAVASCRIPT -->
include js/js.pug
include js/svg-clickable.pug

script.
    function isIE() {
        ua = navigator.userAgent;
        /* MSIE used to detect old browsers and Trident used to newer ones*/
        var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;
        
        return is_ie; 
    }
    /* Create an alert to show if the browser is IE or not */
    if (isIE()){
            document.getElementById("flower-section").style.display = "none";
            document.getElementById("flower-section-ie").style.display = "block";
    }
<!-- <script>function isIE() {      var ua = navigator.userAgent;        var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;           return is_ie;      }      if (isIE()){ document.getElementById("flower-section").style.display = "none"; }</script> -->

</body>

</html>