.visual-bullets {
    max-width: 1500px;
    margin: 0 auto;
    .bullet {
        margin: 2rem 2rem;
        @include media-breakpoint-down(sm) {
        margin: 2rem 0rem;
        
        }
        text-align: center;
        width: 450px;
        height: 450px;
        @include media-breakpoint-down(sm) {
            width: 360px;
            height: 360px;
            i {
                display: none;
            }
        
        }
        .fas {
            color: $light-blue;
        }
        h4 {
            // color: $dark-blue;
        }
        .sub-text {
            color: #e2e2e2;
        }
    }
}