#hero {
    min-height: 90vh;
    // background-image: 
    // linear-gradient( to right,
    //     rgba(35,74,86, 0), 
    //     rgba(35,74,86, 0)
    //   ),
    // /* bottom, image */
    // url(../assets/img/hero-bg3.jpg);
    // background-position: center center;
    // // background-position: 100%;
    // background-repeat: no-repeat;
    // background-size: cover;
    .hero-height {
        min-height: 90vh;
    }
    .hero-sub-text {
        a {
            font-size: inherit;
            font-family: inherit;
            &:after {

                // width: 100%;
            }
        }
    }
}

.hero-wrapper {
    .hero-img {
        // bottom: 10%;
        background-position: center center;
        background-image: url(https://www.nordlid.com/assets/img/dda-hero2.jpg);
        background-size: cover;
    }
    .hero-video {
        object-fit: cover;
        // transform: rotate(180deg);  
    }
    .hero-videos {
        
        // width: 300%;
        // height: 180% !important;
        // object-position: 50% 150%;
        // object-fit: cover;
        // top: -400px;
        // bottom: 1000px;
    }
    .hero-text {
        padding: 1rem;
        position: absolute;
        top: 50%;
        // margin-top: -50%; 
        left: auto; 
        transform: translateY(-50%);
        @include media-breakpoint-up(sm) {
            top: 50%; 
            left: 50%; 
            height: 90vh;
            transform: translate(-50%, -50%);
            // max-height: 100px;
        }
    }

}